
<section>
	<% if session[:error] != '' %>
		<p class="error"><%= session[:error] %></p>
	<% else %>
		<p>Please enter your name.</p>
</section>
<section id="sign-in" >
	<form id="form-sign-in" action="/" method="post">
		<input type="text" name="name"/>
		<input type="submit" value="Sign in"/>
	</form>
<% end %>
</section>
