<h1> Welcome!<h1>

<% if session[:error] != '' %>
	<p><%= session[:error] %></p>
<% else %>

	<p>Please enter your name.</p>

	<form action="/" method="post">
		<input type="text" name="name"/>
		<input type="submit" value="sign in"/>
	</form>
<% end %>