<!DOCTYPE html>
<html>
<head>
	<title>RPS</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/rps.css">
</head>
<body>
  <%= yield %>
</body>