<h1>Hi, <%= @name%>. </h1>

<h3>Choose onr, please!</h3>

<input type='radio' name="rps" value='rock'>Rock</input>
<input type='radio' name="rps" value='paper'>Paper</input>
<input type='radio' name="rps" value='scissors'>Scissors</input>
